<div class="row d-flex justify-content-center">
  <div class="col-sm-8 d-flex justify-content-center mt-5">
    <google-map height="400px"
                width="750px"

                [zoom]="zoom"
                [options]="mapOptions"

    >
      <map-marker #marker="mapMarker"
                  *ngFor="let markerPosition of markerPositions"
                  [position]="markerPosition"
                  (mapClick)="openInfoWindow(marker)"></map-marker>
      <map-info-window>
        <app-infos
        [label]="nom"
        [adresse]="adresse"
        [statut]="statut"
        [type]="type"
        >
        </app-infos>
      </map-info-window>
    </google-map>

  </div>
</div>
